<h1>Editing Creature</h1>

<%= render 'form' %>

<%= link_to 'Destroy', creature_path(@creature),
        method: :delete,
        data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', creatures_path %>
