<p>
  <strong>Name:</strong>
  <%= @creature.name %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @creature.shape %>
</p>

<%= link_to 'Edit', edit_creature_path(@creature) %> |
<%= link_to 'Back', creatures_path %>
